body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1203px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:815px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:815px;
  display:flex;
}
#u2591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:815px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:583px;
  height:815px;
  display:flex;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:23px;
  background:inherit;
  background-color:rgba(174, 214, 255, 1);
  border:none;
  border-radius:73px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:69px;
  width:324px;
  height:23px;
  display:flex;
}
#u2593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:73px;
  width:117px;
  height:16px;
  display:flex;
}
#u2594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:73px;
  width:14px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u2595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:23px;
  background:inherit;
  background-color:rgba(30, 135, 240, 1);
  border:none;
  border-radius:73px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:194px;
  height:23px;
  display:flex;
}
#u2596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:113px;
  width:52px;
  height:16px;
  display:flex;
  color:#666666;
}
#u2597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:0px;
  width:1px;
  height:200px;
  display:flex;
  color:#F95E5A;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:170px;
  width:182px;
  height:32px;
  display:flex;
}
#u2599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
